#wrap {
  position: absolute;
  width: 300px;
  height: 400px;
  border: 1px solid;
  margin: 0 auto;
}
#wrap .inner {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: pink;
  height: 100px;
  width: 100px;
}
#wrap .inner2 {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  height: 10px;
  width: 10px;
}
#wrap .sjx {
  border-width: 40px;
  border-style: dashed solid dashed dashed;
  border-color: transparent black transparent transparent;
}
